@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Permanent+Marker&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    text-align: center;
    margin: 0;
    padding: 0;
    background: #F2F2F2;
    color: #474A59;
    font-family: Ubuntu;
    font-size: 3vh;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

#aTutorial {
    color: #474A59;
    font-weight: 500;
}

#logo {
    color: #474A59;
    margin-left: 2rem;
    font-size: 7vh;
}

#logo:hover {
    color: #2B2D33;
    transition: 0.5s;
}

.container {
    display: flex;
}

.top {
    background: #DCD2C6;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px #F4F2F4 solid;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltipText {
    visibility: hidden;
    width: 11rem;
    color: #474A59;
    background: #E6E3DC;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 43%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 2vh;
}
  
.tooltip .tooltipText::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #E6E3DC transparent;
}
  
.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}

.top button {
    margin-right: 2rem;
    font-size: 3vh;
    background: none;
    border: none;
    font-weight: 600;
    color: #474A59;
}

.top button:hover {
    cursor: pointer;
    color: #2B2D33;
    transition: 0.5s;
}

#customize {
    background: #E6E3DC;
    width: 60%;
    height: 85vh;
    border: 5px #F4F2F4 solid;
    border-top: none;
    padding-top: 5vh;
}

#shape {
    width: 100%;
    height: 100vh;
    border: 5px #F4F2F4 solid;
    border-top: none;
    border-left: none;
}

.slider {
    width: 75%;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .9s;
    transition: .9s;
    accent-color: #DCD2C6;
}

.slider:hover {
    opacity: 1;
    cursor:grab;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px;
    height: 25px;
    
}

#shape {
    display: inline-block; 
    width: 100%; 
    height: 90vh;          
    position: relative;
}

#draw {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0px;
    position: relative;
}

#tutorialOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #474A59A9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

#tutorialOverlay.hidden {
    visibility: hidden;
    opacity: 0;
}

#tutorialContent {
    background: #E6E3DC;
    min-width: 60%;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
    position: relative;
}

#closeTutorial {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    color: #474A59;
}

#closeTutorial:hover {
    color: #2B2D33;
    transition: 0.5s;
}

@media (max-width: 1100px) {
    body {
        font-size: 2.5vh;
        background: #E6E3DC;;
    }

    .container {
        flex-direction: column;
    }

    .top button {
        font-size: 2vh;
        margin-right: 1rem;
    }

    #logo {
        font-size: 4vh;
        margin-left: 1rem;
    }

    #customize {
        width: 100%;
        height: auto;
        padding: 0;
        background: #F2F2F2;
    }
    
    #shape {
        width: 100%;
        height: auto;
        margin-top: 50vh;
        border-bottom: none;
    }

    #tutorialContent {
        padding: 5px;
    }
}