body
{
    text-align: center;
    margin: 0;
    padding: 0;
    background: rgb(236, 236, 236);
}

body::-webkit-scrollbar
{
    display: none;
}

div
{
    padding: 0px;
    width:100%;
    margin:0 auto;
}


#shape
{
    width: 100%;
    height: 60vh;
}

#customize
{
    width: 100%;
    height: 50%;
    line-height: 0;
}

.slider
{
    width: 75%;
    height: 25px;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .9s;
    transition: opacity .9s;
    
}

.slider:hover
{
    opacity: 1;
    cursor:grab;
}

.slider::-webkit-slider-thumb
{
    -webkit-appearance: none; 
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D; 
    
}

#empty
{
    height: 20px;
}

#shape
{
    display: inline-block; 
    width: 100%;           
    position: relative;
}

#draw
{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0px;
    position: relative;
}

#code
{
    line-height: 5;
}
